services:
  reverse-proxy:
    image: traefik:v3.2
    command: --api.insecure=true --providers.docker
    ports:
      - "8081:80"
      - "9090:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock